*{
    padding: 0px;
    margin: 0px;
    background-color: #dfd3c3;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
body{
    background-color: white;
}





.container{
    margin: 0 auto;
    text-align:center;
    width: 700px;
    height: 100vh;
    display:grid;
    grid-template-columns: 10% 26% 7% 7%  3% 19% 8% 10% 10% ;
    grid-template-rows: 2% 3% 24% 3%  4% 3% 21% 3% 4%  3% 3% 22% 2% 2%;
    
}
nav{
    grid-column: 5 / span 5;
    grid-row: 1 / span 1;
    z-index: 30;
    background-color:transparent;
    display:flex;
    justify-content:flex-end;
    margin: 10px;
}

nav a{
    text-decoration: none;
    background-color:transparent;
    color: black;
}

nav a:hover{
    text-decoration: underline;
}
nav ul{
    list-style: none;
    display: flex;
    
    background-color:transparent;
}

nav ul li{
    margin: 5px;
    background-color:transparent;
    
}

.up{
    
    grid-column: 1 / span 10;
    grid-row: 1 / span 5;
    background-color: #f0ece3;
    
}

.up-right{
    
    height: auto;
    
    grid-column: 6 / span 4;
    grid-row: 1 / span 3;
    background-color: #dfd3c3;
    z-index: 20;
}

.photo-1{
    grid-column: 4 / span 4;
    grid-row: 3 / span 2;
    background-image: url("https://image.freepik.com/free-photo/blonde-sitting-grass-with-headphones_1157-36215.jpg");
    background-position: right;
    background-size: cover;
    z-index: 30;
    filter: grayscale(100%);
}

.photo-1:hover{
    animation-name: gray-1;
    animation-duration: 2s ;
    animation-fill-mode:forwards ;
}
 @keyframes gray-1 {
 
    0% {
    filter: grayscale(100%);
    } 
    
    100% {
    filter: grayscale(0%);
    }
}


.firma{
    grid-column: 2 / span 3;
    grid-row: 3 / span 1;
    background-image: url("firma.png");
    background-position: center;
    background-color: transparent;
    background-size: cover;
    
    z-index: 40;
}

.medium{
    
    grid-column: 1 / span 10;
    grid-row: 6 / span 4;
    
}

.leave{
    background-image: url("hojas.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 150%;
    z-index: 30;
    grid-column: 3 / span 5;
    grid-row: 7 / span 3;
    background-color:transparent;
}

.card-text{
    grid-column: 6 / span 3;
    grid-row: 7 / span 1;
    background-color: white;
    z-index: 40;
    padding: 20px;
    text-align: left;
}

.card-text input{
    background-color:black;
    color: white;
    border: none;
    height: 30px;
    margin:10px 0 0 0;
    padding: 5px;
    text-align: center;
}
.card-text input:hover{
    cursor: pointer;
}

.card-text p{
    background-color:white;
}
.card-text h3{
    background-color:white;
    margin:5px 5px 5px 0;
    text-transform: uppercase;
}

.photo-2{
    grid-column: 2 / span 3;
    grid-row: 7 / span 3;
    background-image: url("https://image.freepik.com/free-photo/portrait-smiling-woman-sitting-chair_171337-12661.jpg");
    background-position: up;
    background-repeat: none;
    background-size: cover;
    border: 5px solid white;
    z-index: 40;
    filter: grayscale(100%);
}

.photo-2:hover{
    animation-name: gray-2;
    animation-duration:2s;
    animation-fill-mode:forwards ;
    
}
 @keyframes gray-2 {
 
    0% {
    filter: grayscale(100%);
    } 
    
    100% {
    filter:grayscale(0%);
    }
}


.bottom{
    
    background-color: #f0ece3;
    grid-column: 1 / span 10;
    grid-row: 9/ span 7;
}

.photo-3{
    background-image: url("https://image.freepik.com/foto-gratis/manos-bonitas-concepto-manicura-aseo_144627-33190.jpg");
    grid-column: 2 / span 7;
    grid-row: 11/ span 3;
    z-index: 20;
    filter: grayscale(100%);
}

.photo-3:hover{
    animation-name: gray-3;
    animation-duration:2s;
    animation-fill-mode: forwards;
}
 @keyframes gray-3 {
 
    0% {
    filter: grayscale(100%);
    } 
    
    100% {
    filter:grayscale(0%);
    }
}



.card-text-2{
    background-color: #596e79;
    grid-column: 3 / span 4;
    grid-row: 12/ span 1;
    z-index: 30;
    padding:20px;
    text-align: center;
}
.card-text-2 input{
    background-color:white;
    color: #596e79;
    border: none;
    height: 30px;
    margin:10px 0 0 0;
    padding: 5px;
    text-align: center;
    color: #596e79;
}
.card-text-2 input:hover{
    cursor: pointer;
}

.card-text-2 p{
    background-color:#596e79;
    color: white;
}
.card-text-2 h3{
    background-color:#596e79;
    margin:5px 5px 5px 0;
    text-transform: uppercase;
    color: white;
}

